*{
    margin:0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}
 /*nav li{
    list-style-type: none; 
}*/
/***************************************************/
body{
    background-color: rgb(204,204,204);
    font-family: Arial, Helvetica, sans-serif;  
    font-size: 1rem;  
}
/********************************************************/
div#interface{
    /* border:1px solid black; */
    width: 768px;
    margin:auto;
    
}
/**********************************************************/
header#topo{
    height:80px;
    background-image: url('../images/topo_.jpg');
}
/**************************************************************/
/* nav menu */
nav#menuPrincipal{
    width:150px;
    height:400px;
    background-color: rgb(0,0,0);
    float: left;
}

nav#menuPrincipal a{
    margin:1px;
    padding:5px;
    border-left: 3px solid rgb(255,0,0);
    border-bottom: 1px solid rgb(204, 204, 204);
    
    display: block;

    color:rgb(255,255,255);
    font-size: .7rem;
    text-decoration: none;
}

nav#menuPrincipal a:hover{
    border-left-color: rgb(255,255,255);
    background-color: rgb(204, 204, 204);
    color:rgb(0,0,0);
    text-decoration: underline;
}
/**************************************************************/
/* section principal */
section#principal{
    width:618px;
    height:400px;
    background-color: rgb(255,255,255);
    float:right;
    
    position: relative;
}
/****************************************************************/
/* aside da section proncipal */
section aside{
    width:180px;
    background-color: rgb(204, 204, 204);
    position: absolute;
    top:0;
    right:0;
}
section aside a{  
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(255, 255, 255) rgb(51, 51, 51) rgb(51, 51, 51)rgb(51, 51, 51);
    display: block;

    font-size: .8rem;
    color:rgb(0,0,0);
    text-align: center;
    text-decoration: none;
}
section aside a:hover{
    text-decoration: underline;
}
/***********************************************************/
footer#rodape{
    height:50px;
    background-color: rgb(102, 0, 0);

    display: table-cell;/* celula de tabela é inline-block , ela È INLINE porem ela aceite width e height*/
    /* width: 100%;  nao aceita o width em porcentagem*/
    width:768px;
    vertical-align: middle;

    color:rgb(255,255,255);
    text-align: center;
    font-size: .6rem;
    /* line-height: 50px;;  só funciona se tiver apenas uma linha*/

    clear: both;
}