*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;

    background-image: url('../imagens/tra6.jpg');
    background-attachment: fixed;
    /* background-repeat: no-repeat; */
    background-size: cover;
}
/******************************************************/
/* header */
header#topo{
    height:200px;
    line-height: 200px;

    background-color: rgb(0,0,0);
    color:rgb(255,255,255)
}
header h1{
    font-size: 3.75rem;
    text-align: center;
}
/********************************************************/
/* Menu */
nav#menu{
    position: fixed;
    top:230px;
    left:0;
}
nav#menu ol{
    width:200px;
    list-style-type: none;
}
nav#menu li{
    border:1px solid black;
    width:20px;
    transition: width 1s;
}
nav#menu li:hover{
    width: 100%;
}
/*
LoVe HAte
*/
nav#menu a:link, nav#menu a:visited{
    padding-left: 20px;
    border-left: red 2px solid;
    height:100%;
    display: block;
    background-color: white;
    overflow: hidden;

    color:grey;
    font-size: .875rem;
    text-decoration: none;
    text-align: center;
    line-height:40px ;
    white-space: nowrap;

    transition: all 1s;
}

nav#menu a:hover, nav#menu a:active{
    background-color: rgb(0,0,0);
    border-left-color: rgb(0,255,255);
    color:rgb(255,255,255);
    text-decoration: underline;
}

/******************************************************************/
/* sections */
section{
    background-color: rgba(255,255,255,.75);
    width: 80%;
    margin:32px auto;
    padding: 30px;
    border-radius: 30px;;

    font-size: 1.25rem;

}
section h2{
    text-align: center;
}
section p{
    text-align: justify;
    margin:7px 0;
    text-indent: 50px;
}
section p::first-letter{
    font-size: 3.75rem;
    background-color: rgba(247, 211, 121, .5);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 0 5px;
    color:rgb(255,0,0)
}
.esquerda{
    float:left;
    margin-right: 15px;
}
.direita{
    float: right;
    margin-left: 15px;
}
